<div id="<%= dom_id receita %>">
  <p>
    <strong>Nome:</strong>
    <%= receita.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= receita.descricao %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= receita.valor %>
  </p>

</div>
